<?xml version="1.0"?>
<launch>
  <!-- Export env variable so that gazebo finds our models -->
  <env name="GAZEBO_MODEL_PATH"
       value="$(find ur5_gazebo)/models:$(optenv GAZEBO_MODEL_PATH)" />
  <!-- Ignore online database -->
  <env name="GAZEBO_MODEL_DATABASE_URI"
       value="/" />
  <!-- Launch file parameters -->
  <arg name="paused"     default="true"/>
  <arg name="debug"      default="false"/>
  <arg name="gui"        default="true"/>
  <arg name="rate"       default="500" />
  <!-- <arg name="world_name" default="$(find ur5_gazebo)/worlds/cubes_task.world" /> -->
  <arg name="world_name" default="$(find ur5_gazebo)/worlds/cubes_task_camera.world" />
  <arg name="grasp_plugin" default="false"/>

  <!-- Start up simulated world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name)"/>
    <arg name="paused"     value="$(arg paused)"/>
    <arg name="debug"      value="$(arg debug)"/>
    <arg name="gui"        value="$(arg gui)"/>
  </include>



</launch>
